.list-group-item {
    line-height: 2.5;
  }
  
  body {
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  }
  /* .header-text { */
  /* } */
  .letters {
      color: white;
      font-weight: bold;

      
  }

  .container {
    width: 100%;
    /* filter: opacity(5%) */
  }
  .jumbotron {
      filter: opacity(85%)
  }
  .title {
    width: 100%;
    padding: 10;
    margin: 10;
    /* background-image: url("../html/cool-background.png"); */
    
  }
  .title-text {
      font-size: 72px;
      text-decoration: underline;
      font-weight: bold;
  }
  .header-text{
    text-align: center;
    color: white;
    height: 50px;
    font-size: 62px;
    padding-top: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: underline;
  }
  
  p {
    /* position: absolute; */
    /* background-color: white; */
    /* filter: alpha(opacity=60); */
    /* opacity: 0.7; */
    text-decoration: bold;
  }
  
  .p-text{
    color: black;
    font-size: 24px;
    border: solid white 3px;
  }
  .hero {
    /* Sizing */
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url(https://images.unsplash.com/photo-1491336440196-6d4fee45a05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(95%);
    margin-top: 0;
  }
  
  .hero h1 {
    font-size: 8em;
    color: white;
   /* margins */
   margin-top: 0;
   margin-bottom: 0; 
  }
  
  /* 
  Found the source code for animated text @ url(https://tobiasahlin.com/moving-letters/#2);
  */
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
    color: white;

  }
  
  .ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
  
  .line1:hover, .line2:hover {
      background-color: black;
  }
  
  .ml1, .ml2 {
    filter: brightness(100%)
  }
  
  
  /*   Leaflet Map CSS   */
  
  #mapid { height: 500px; 
  width: 100%;
  /* border: solid 4px #014421; */
  }
  
  
/* Collapsible CSS */

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* .active, .collapsible:hover {
    background-color: black;
  } */
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }